<!DOCTYPE html>
<html lang="en" ng-app="portfolioApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Leo Sooter</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Karla|Overlock+SC" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="application/app.js"></script>
    <script src="application/services/anchorScroll.js"></script>
    <script src="application/factories/portfolioFactory.js"></script>
    <script src="application/controllers/portfolioController.js"></script>
  </head>
  <body ng-controller="projectController">
    <header>
      <div id="logo-nav-wrapper">
        <div id="logo">
          <h1>Leo Sooter</h1>
        </div>
        <ul id="nav-bar">
          <li ng-click="goToElement('projects-bookmark')" class="nav-link">Projects</li>
          <li ng-click="goToElement('about-bookmark')" class="nav-link">About</li>
          <li ng-click="goToElement('contact-bookmark')" class="nav-link">Contact</li>
        </ul>
      </div>
    </header>
    <div id="header-image-wrapper">
      <div id="header-image"></div>
    </div>

    <main>
      <div id="upper-mask"></div>

      <section id="intro-wrapper">
          <div id="intro">
            <h3>Full Stack Development</h3>
            <h5>Welcome to my portfolio.</h5>
            <h5 id="intro-description">I am a full-stack developer, trained in building REST APIs, single-page MVC Apps and responsive websites.</h5>
            <h5>Front-End | Node.js | Python</h5>
            <a href="https://dl.dropboxusercontent.com/u/29321420/Leo%20Sooter%20Resume.pdf" target="blank">Resume</a>
          </div>
      </section>

      <div id="center-mask"></div>

      <section id="gallery-wrapper">
        <span id="projects-bookmark" class="bookmark"></span>
        <h3>Projects</h3>
        <div id="project-gallery">

          <div class="project" ng-repeat="project in projects" ng-class="{'current-project' : project == featured}">

            <img class="thumbnail" ng-src="{{project.thumbnail}}" alt="">

            <div class="project-description" ng-click="changeFeaturedProject(project)">
              <h5 ng-bind="project.title"></h5>
              <p>
                <span ng-repeat="technology in project.technologies | limitTo : 3" class="project-tech">{{technology}}</span>
              </p>
            </div>

          </div>

        </div>
      </section>

      <section id="featured-wrapper">
        <span id="featured-bookmark"  class="bookmark"></span>
        <div id="screen-shot-wrapper">
          <img ng-if="!featuredDetail.screenShot" ng-src="{{featured.screenShot}}" alt="" class="screen-shot">
          <img ng-if="featuredDetail.screenShot" ng-src="{{featuredDetail.screenShot}}" alt="" class="screen-shot">
        </div>

        <div id="sidebar">
          <h4><strong ng-bind="featured.title"></strong></h4>
          <div class="detail">
            <h4>{{featuredDetail.title}}</h4>
            <!-- <h3>Description: {{featured.description[0]}}</h3> -->
            <div ng-if="featuredDetail.title ==='Overview'">
              <h5 ng-repeat="line in featured.description">{{line}}</h5>
            </div>
            <div ng-if="featuredDetail.title !='Overview'">
                <h5 ng-repeat="line in featuredDetail.description">{{line}}</h5>
            </div>
          </div>
        </div>

        <ul id="detail-nav">
          <li ng-repeat="detail in details" ng-click="changeFeaturedDetail(detail)" class="skill" ng-class="{'current-detail' : featuredDetail.title === detail.title}">{{detail.name}}</li>
          <li class="project-link"><a ng-if="featured.liveUrl" href="{{featured.liveUrl}}">Visit this Site</a></li>
          <li class="project-link"><a ng-if="featured.repoUrl" href="{{featured.repoUrl}}">See the Github Repo</a></li>
        </ul>

      </section>

      <div id="lower-mask"></div>

      <section id="about-wrapper">
        <span id="about-bookmark"  class="bookmark"></span>
        <div id="about">

          <h4>About Me</h4>
          <p>I am a native Washingtonian, born and raised in the San Juan Islands, and a graduate of the University of Washington.</p>
          <p>After spending 4 years as a stay-at-home father I started self-training for a career in web development.  I spent a year learning front-end technologies and then attended an online bootcamp through <a href="http://www.codingdojo.com/online-bootcamp">Coding Dojo</a> to learn full-stack development in Node.js and Python.</p>
          <p>I love the freedom and creativity of coding and the endless opportunities to learn new skills and technologies.</p>
          <p>I enjoy hiking, kayaking and birdwatching with my family. I am also passionate about wildlife conservation and I have worked for years as a volunteer with several conservation organizations in Africa.</p>
        </div>
        <div id="skills-wrapper">
          <div id="skills">
            <h3>Technologies</h3>
            <p>Click any of the technologies below to view related projects</p>
            <ul class="skill-set">
              <li ng-repeat="skill in frontEnd" ng-click="focusSkill(skill)" class="skill">{{skill.name}}
                <!-- <span class="tooltiptext">View Projects</span> -->
              </li>
            </ul>
            <ul class="skill-set">
              <li ng-repeat="skill in meanStack" ng-click="focusSkill(skill)" class="skill">{{skill.name}}
                <!-- <span class="tooltiptext">View Projects</span> -->
              </li>
            </ul>
            <ul class="skill-set">
              <li ng-repeat="skill in pythonStack" ng-click="focusSkill(skill)" class="skill">{{skill.name}}
                <!-- <span class="tooltiptext">View Projects</span> -->
              </li>
            </ul>

            <h3>Skills</h3>
            <ul class="skill-set">
              <li ng-repeat="skill in skillSet" ng-click="focusSkill(skill)" class="skill">{{skill.name}}
                <!-- <span class="tooltiptext">View Projects</span> -->
              </li>
            </ul>
          </div>
        </div>
      </section>

      <footer>
        <span id="contact-bookmark" class="bookmark"></span>

        <div id="footer-contact" class="footer-info">
          <h4>Contact</h4>
          <p><img src="assets/images/icons/Phone.png" alt="phone icon" class="social-media-icon">425-785-1631</p>
          <p><img src="assets/images/icons/Email.png" alt="email icon" class="social-media-icon"><a href="mailto:leosooter@gmail.com">leosooter@gmail.com</a></p>
          <p><img src="assets/images/icons/Linkedin.png" alt="linkedin icon" class="social-media-icon">View my <a href="https://www.linkedin.com/in/leo-sooter-6b6339a/">Linkedin</a> page</p>
          <p><img src="assets/images/icons/Github.png" alt="github icon" class="social-media-icon">Visit my <a href="https://github.com/leosooter">Github</a> account to see more projects and code.</p>
          <p><img src="assets/images/icons/PDF.png" alt="pdf icon" class="social-media-icon">View or download my <a href="https://dl.dropboxusercontent.com/u/29321420/Leo%20Sooter%20Resume.pdf" target="blank">resume</a></p>
        </div>
      </footer>
    </main>
  </body>
</html>
