/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}

body h1 {
  font-size: 2.5rem;
  font-family: "Overlock SC", cursive;
  margin-bottom: 1.25rem;
}

body h2 {
  font-size: 2.1875rem;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 1.25rem;
}

body h3 {
  font-size: 1.875rem;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 1.25rem;
}

body h4 {
  font-size: 1.5625rem;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 1.25rem;
}

body h5 {
  font-size: 1.25rem;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

body p {
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

body li {
  display: inline-block;
  text-align: center;
}

header {
  z-index: 200;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.125rem;
  padding-top: 1.25rem;
  background-color: #257ac9;
}

header #logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3.125rem;
}

header #nav-bar {
  position: absolute;
  right: 9.375rem;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

header #nav-bar .nav-link {
  height: 1.25rem;
  width: 5rem;
  margin-left: 1.25rem;
  padding: 0.3125rem;
  border-bottom: 2px solid white;
  transition: border-bottom 0.3s linear;
  text-decoration: none;
  color: white;
}

header #nav-bar .nav-link:hover {
  border-bottom: 2px solid #296194;
  color: #d2e6f9;
}

#upper-mask {
  pointer-events: none;
  z-index: 100;
  position: fixed;
  height: 6.25rem;
  width: 100%;
  margin-top: 4.375rem;
  background: linear-gradient(#257ac9, rgba(37, 122, 201, 0));
}

#center-mask {
  pointer-events: none;
  z-index: 300;
  position: relative;
  height: 6.25rem;
  width: 100%;
  margin-top: -6.25rem;
  background: linear-gradient(rgba(37, 122, 201, 0), #257ac9);
}

#lower-mask {
  pointer-events: none;
  z-index: 300;
  position: relative;
  height: 6.25rem;
  width: 100%;
  margin-bottom: -6.25rem;
  background: linear-gradient(#257ac9, rgba(37, 122, 201, 0));
}

.bookmark {
  position: absolute;
  margin-top: -0.625rem;
}

#about-bookmark {
  margin-top: 1.25rem;
}

#intro-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 25rem;
  padding: 3.125rem 0;
  background: linear-gradient(#257ac9, #2f87d9);
}

#intro {
  width: 70%;
  max-width: 62.5rem;
  margin: 0 auto;
  margin-top: 4.375rem;
  padding: 2.5rem;
  text-align: center;
}

#intro #intro-description {
  width: 100%;
  max-width: 31.25rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

#featured-wrapper {
  position: relative;
  z-index: 300;
  width: 100%;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  background-color: white;
  border-bottom: 1px solid #d2e6f9;
  color: #296194;
  text-align: center;
}

#featured-wrapper #detail-nav {
  position: absolute;
  bottom: 0.625rem;
}

#featured-wrapper #detail-nav .current-detail {
  color: white;
  background-color: #2372bc;
}

#featured-wrapper #screen-shot-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 60%;
  height: 31.25rem;
}

#featured-wrapper .screen-shot {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid #d2e6f9;
}

#featured-wrapper #sidebar {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  height: 31.25rem;
}

#featured-wrapper .detail {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  padding: 0 0.625rem;
  text-align: left;
}

#gallery-wrapper {
  position: relative;
  z-index: 200;
  width: 100%;
  padding-top: 1.875rem;
  background-color: white;
  color: #296194;
  text-align: center;
}

::-webkit-scrollbar {
  height: 0.625rem;
  width: 0rem;
}

::-webkit-scrollbar-track-piece {
  background-color: #d2e6f9;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #257ac9;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

#project-gallery {
  overflow: auto;
  white-space: nowrap;
  width: 80%;
  height: 14.6875rem;
  margin: 0 auto;
  color: #296194;
  text-align: center;
}

#project-gallery .project {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  height: 11.25rem;
  width: 15.625rem;
  margin: 1.25rem;
  margin-bottom: 1.25rem;
  border: 2px solid #d2e6f9;
  text-align: center;
}

.project-description {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: -15vw;
  color: white;
  background-color: #d2e6f9;
  background-color: #296194;
  opacity: 0;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.project-description .project-tech {
  display: inline-block;
  margin: 0.3125rem;
}

.project-description .project-link {
  position: relative;
  display: inline-block;
  height: 1.25rem;
  margin-top: 2.5rem;
  padding: 0.625rem 0.3125rem;
  color: white;
}

.screen-image {
  width: 100%;
}

.current-project {
  border: 3px solid #296194 !important;
}

.project:hover .project-description {
  opacity: .90;
}

#digital-reserve {
  background-size: cover;
  background-image: url("../images/projects/digital-reserve/widescreen.png");
}

#jetfighter {
  background-size: cover;
  background-image: url("../images/projects/jetfighter/jetfighter.png");
}

#blackjack {
  background-size: cover;
  background-image: url("../images/projects/blackjack/main.png");
}

#about-wrapper {
  position: relative;
  z-index: 100;
  height: 43.75rem;
  width: 100%;
  padding: 1.875rem;
  background: linear-gradient(#257ac9, #2f87d9);
}

#about {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 6.25rem 1.875rem 0 1.875rem;
}

#about #profile-pic {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
}

#skills-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  padding: 3.125rem 0;
  background: linear-gradient(#257ac9, #2f87d9);
}

#skills {
  width: 70%;
  max-width: 62.5rem;
  margin: 0 auto;
  margin-top: 4.375rem;
  padding: 2.5rem;
  text-align: center;
}

#skills #skills-description {
  width: 100%;
  max-width: 31.25rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

#skills .skill-set {
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.skill {
  display: inline;
  position: relative;
  margin: 0.375rem;
  padding: 0.3125rem;
  border: 1px solid #296194;
  border-radius: 0.3125rem;
}

.skill:hover {
  color: white;
  background-color: #2372bc;
}

footer {
  width: 100%;
  height: 25rem;
  padding: 3.125rem;
  background-color: #296194;
}

.footer-info {
  display: inline-block;
  vertical-align: top;
  width: 25rem;
  margin: 0 1.875rem;
}

.footer-info #profile-pic {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
}

.footer-info .social-media-icon {
  vertical-align: middle;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 50%;
}

#footer-contact {
  margin-top: 2.5rem;
}

iframe {
  height: 31.25rem;
  width: 100%;
}
