/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  width: 100vw;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}

body h1 {
  font-size: 2.5rem;
  font-family: "Overlock SC", cursive;
  margin-bottom: 1.25rem;
}

body h2 {
  font-size: 2.1875rem;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 1.25rem;
}

body h3 {
  font-size: 1.875rem;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 1.25rem;
}

body h4 {
  font-size: 1.5625rem;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 1.25rem;
}

body h5 {
  font-size: 1.125rem;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

body p {
  font-size: 1.125rem;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

body li {
  display: inline-block;
  text-align: center;
}

header {
  z-index: 200;
  position: relative;
  top: 0;
  width: 100%;
  width: 100vw;
  height: 3.125rem;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
  background-color: #257ac9;
}

@media only screen and (min-width: 46.875rem) {
  header {
    position: fixed;
  }
}

#logo-nav-wrapper #logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.25rem;
}

@media only screen and (min-width: 87.5rem) {
  #logo-nav-wrapper #logo {
    margin-left: 3.125rem;
  }
}

#logo-nav-wrapper #nav-bar {
  position: absolute;
  right: 3.125rem;
  display: none;
  vertical-align: middle;
}

@media only screen and (min-width: 87.5rem) {
  #logo-nav-wrapper #nav-bar {
    right: 9.375rem;
  }
}

@media only screen and (min-width: 46.875rem) {
  #logo-nav-wrapper #nav-bar {
    display: inline-block;
  }
}

#logo-nav-wrapper #nav-bar .nav-link {
  height: 1.25rem;
  width: 5rem;
  margin-left: 1.25rem;
  padding: 0.3125rem;
  border-bottom: 2px solid white;
  transition: border-bottom 0.3s linear;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#logo-nav-wrapper #nav-bar .nav-link:hover {
  border-bottom: 2px solid #296194;
  color: #d2e6f9;
}

#header-image-wrapper {
  position: relative;
  z-index: 500;
  margin-top: -0.625rem;
  display: none;
}

@media only screen and (min-width: 60.625rem) {
  #header-image-wrapper {
    display: block;
  }
}

#header-image-wrapper #header-image {
  position: absolute;
  height: 12.5rem;
  width: 12.5rem;
  top: 50%;
  left: 50%;
  margin-top: 2.5rem;
  margin-left: -6.25rem;
  border: 2px solid white;
  border-radius: 50%;
  background-size: cover;
  background-image: url("../images/profile/profile-square.jpg");
}

#upper-mask {
  pointer-events: none;
  z-index: 100;
  position: fixed;
  display: none;
  height: 6.25rem;
  width: 100%;
  width: 100vw;
  margin-top: 6.25rem;
  background: linear-gradient(#257ac9, rgba(37, 122, 201, 0));
}

@media only screen and (min-width: 46.875rem) {
  #upper-mask {
    display: block;
  }
}

@media only screen and (min-width: 60.625rem) {
  #upper-mask {
    margin-top: 6.875rem;
  }
}

#center-mask {
  pointer-events: none;
  z-index: 300;
  position: relative;
  display: none;
  height: 6.25rem;
  width: 100%;
  width: 100vw;
  margin-top: -6.25rem;
  background: linear-gradient(rgba(37, 122, 201, 0), #257ac9);
}

@media only screen and (min-width: 46.875rem) {
  #center-mask {
    display: block;
  }
}

#lower-mask {
  pointer-events: none;
  z-index: 300;
  position: relative;
  display: none;
  height: 6.25rem;
  width: 100%;
  width: 100vw;
  margin-bottom: -6.25rem;
  background: linear-gradient(#257ac9, rgba(37, 122, 201, 0));
}

@media only screen and (min-width: 46.875rem) {
  #lower-mask {
    display: block;
  }
}

.bookmark {
  position: absolute;
  margin-top: -0.625rem;
}

#about-bookmark {
  margin-top: -4.375rem;
}

#featured-bookmark {
  margin-top: -1.875rem;
}

main {
  width: 100%;
  width: 100vw;
}

#intro-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 1.25rem 0 1.875rem 0;
  background: linear-gradient(#257ac9, #2f87d9);
}

@media only screen and (min-width: 46.875rem) {
  #intro-wrapper {
    padding-top: 11.875rem;
  }
}

#intro {
  width: 70%;
  max-width: 62.5rem;
  margin: 0 auto;
  margin-top: 4.375rem;
  padding: 2.5rem;
  text-align: center;
}

#intro #intro-description {
  width: 100%;
  max-width: 28.125rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

#featured-wrapper {
  position: relative;
  z-index: 300;
  width: 100%;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  background-color: white;
  border-bottom: 1px solid #d2e6f9;
  color: #296194;
  text-align: center;
}

#featured-wrapper #detail-nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 1.25rem;
}

#featured-wrapper #detail-nav .current-detail {
  color: white;
  background-color: #2372bc;
}

#featured-wrapper #screen-shot-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-height: 29.375rem;
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 60.625rem) {
  #featured-wrapper #screen-shot-wrapper {
    width: 60%;
  }
}

#featured-wrapper .screen-shot {
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: 50rem;
  border: 1px solid #d2e6f9;
}

#featured-wrapper #sidebar {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 90%;
  min-height: 12.5rem;
  padding: 0.625rem;
}

@media only screen and (min-width: 60.625rem) {
  #featured-wrapper #sidebar {
    overflow-y: auto;
    width: 30%;
    max-height: 32.5rem;
  }
}

#featured-wrapper .detail {
  width: 100%;
  height: 100%;
  padding: 0 0.625rem;
  text-align: left;
}

.project-link {
  position: relative;
  height: 1.25rem;
  margin-left: 3.75rem;
  top: 0.625rem;
  border-bottom: 2px solid #257ac9;
  transition: border-bottom 0.3s linear;
}

.project-link a {
  text-decoration: none;
  color: #257ac9;
}

.project-link:hover {
  border-bottom: 2px solid #296194;
}

.project-link:hover a {
  color: #296194;
}

#gallery-wrapper {
  position: relative;
  z-index: 200;
  width: 100%;
  padding-top: 1.875rem;
  background-color: white;
  color: #296194;
  text-align: center;
}

#gallery-wrapper ::-webkit-scrollbar {
  height: 0.625rem;
  width: 0rem;
}

#gallery-wrapper ::-webkit-scrollbar-track-piece {
  background-color: #d2e6f9;
}

#gallery-wrapper ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #257ac9;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

#project-gallery {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  height: 14.6875rem;
  margin: 0 auto;
  color: #296194;
  text-align: center;
}

@media only screen and (min-width: 46.875rem) {
  #project-gallery {
    width: 80%;
  }
}

#project-gallery .project {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  height: 11.25rem;
  width: 15.625rem;
  margin: 1.25rem;
  margin-bottom: 1.25rem;
  border: 2px solid #d2e6f9;
  text-align: center;
}

.project-description {
  position: relative;
  height: 100%;
  width: 100%;
  color: white;
  background-color: #d2e6f9;
  background-color: #296194;
  opacity: 0;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.project-description .project-tech {
  display: inline-block;
  margin: 0.3125rem;
}

.thumbnail {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.current-project {
  border: 3px solid #296194 !important;
}

.project:hover .project-description {
  opacity: .90;
}

#about-wrapper {
  position: relative;
  z-index: 80;
  width: 100%;
  padding: 1.875rem;
  background: linear-gradient(#257ac9, #2f87d9);
}

@media only screen and (min-width: 46.875rem) {
  #about-wrapper {
    padding-top: 7.5rem;
  }
}

#about {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  margin: 1.25rem 0.625rem;
}

@media only screen and (min-width: 60.625rem) {
  #about {
    width: 30%;
    margin: 5.625rem 1.875rem;
  }
}

#about p {
  margin-bottom: 0.625rem;
}

#about a {
  font-size: 1.125rem;
  text-decoration: none;
  color: #e6e6e6;
  border-bottom: 2px solid #a5cdf3;
}

#about a:hover {
  color: #a5cdf3;
  border-bottom: 2px solid #78b4ed;
}

#profile-pic {
  display: inline-block;
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
}

#skills-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 90%;
  margin-top: 1.25rem;
}

@media only screen and (min-width: 46.875rem) {
  #skills-wrapper {
    width: 60%;
    margin-top: 3.125rem;
  }
}

#skills {
  width: 100%;
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

@media only screen and (min-width: 46.875rem) {
  #skills {
    text-align: center;
    padding: 2.5rem;
    width: 70%;
  }
}

#skills p {
  margin-bottom: 1.25rem;
  color: #9bc5ed;
}

#skills #skills-description {
  width: 100%;
  max-width: 31.25rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

#skills .skill-set {
  margin-bottom: 0.625rem;
  cursor: pointer;
}

@media only screen and (min-width: 31.25rem) {
  #skills .skill-set {
    margin-bottom: 2.5rem;
  }
}

.skill {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0.375rem;
  padding: 0.3125rem;
  border: 1px solid #296194;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.1s linear;
}

.skill:hover {
  color: white;
  background-color: #2372bc;
}

footer {
  width: 100%;
  padding: 3.125rem;
  padding-top: 6.25rem;
  background-color: #296194;
}

.footer-info {
  display: block;
  width: 70%;
  vertical-align: top;
  margin: 2.5rem 1.875rem;
}

@media only screen and (min-width: 46.875rem) {
  .footer-info {
    display: inline-block;
    width: 45%;
  }
}

.footer-info .social-media-icon {
  vertical-align: middle;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 50%;
}

.footer-info a {
  font-size: 1.125rem;
  text-decoration: none;
  color: #a5cdf3;
  border-bottom: 2px solid #a5cdf3;
}

.footer-info a:hover {
  color: #78b4ed;
  border-bottom: 2px solid #78b4ed;
}

#footer-resume {
  padding-top: 0.9375rem;
  width: 25%;
}
